body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: black;

}
.cont1 h1{
    font-family: 'Koulen', cursive;
    color: aquamarine;
    font-size: 360%;
    margin-left: 38%;
    margin-top: 13%;
    border-radius: 20px;
    padding:30px;
    padding-left: 30px;
    clear: both;

}
.cont1 a{
    text-decoration: none;
    color: aquamarine;
    border: 2px solid white;
    padding:30px;
    border-radius: 20px;
}
.cont1 a:hover{
    color: white;
    padding: 30px;
    font-size: 105%;
    transition: 0.3s all;
    transition: 0.3s ;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid aquamarine;
}
.cont1 a:not(:hover){
    transition:0.3s all;
}